.App {
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #265B8D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 960px;
  margin: 60px auto 0;
}

.el-menu {
  display: flex;
  justify-content: center;
}

.el-menu-item {
  padding: 0;
}

.el-menu-item a {
  padding: 0 20px;
  display: block;
  text-decoration: none;
}

.el-menu-item a:hover {
  text-decoration: none;
}